<!DOCTYPE html>
<html>
  <head>
    <title>RM2Site Template</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1>RM2Site Secret Dashboard!!</h1>

    <% include ../includes/flash.html.ejs %>

    <p>Only exclusive registered people see this :O!.</p>
  </body>
</html>