<%  if (flash != {}) {
        for(property in flash){
            flash[property].forEach(function(item){
%>

        <p><strong><%=property%>:</strong> <%=item%></p>

<%
            })
        }
    }
%>
