<!DOCTYPE html>
<html>
  <head>
    <title>RM2Site Template</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1>RM2Site Template</h1>

    <% include ../includes/flash.html.ejs %>

    <p>Welcome to whatever this site is.</p>
    <ul>
        <li><a href="/register">Register Account</a></li>
        <li><a href="/login">Login Account</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
  </body>
</html>